html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(48, 46, 43);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(48, 46, 43);
}

h1{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

h2{
    color: white;
    font-size: x-large;
    font-weight: bold;
}

p{
    color: white;
    font-size:medium;
}

li{
    color: white;
}

a{
    color:aqua;
}

a:hover{
    color:bisque;
}

header, footer{
    background-color:rgb(81, 79, 79);    
}

#titulo > h1{
    margin-top: 10px;
}


#headerContainer {
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto; 
}

.link {
    margin: 0 10px; 
    font-size:x-large;
}

#titulo, main > #miembros, main > #proyecto > h2, main > #contacto > h2,  main > #proyecto > #ajedrez{
    text-align: center;
}

#contacto, #proyecto, #miembros {
    border-color: white;
    border: 1px solid hsl(0, 0%, 100%); 
    text-align: justify;
}

#contacto > h2, #proyecto > h2, #miembros > h2{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

#miembros > #listaMiembros > #raul, #miembros > #listaMiembros > #gleb, #miembros > #listaMiembros > #victor, #miembros > #listaMiembros > #nacho{
    margin-bottom: 20px;
    text-align: center;
    list-style: none;
}

nav > ul, nav > img{
    flex: 1;
    margin: 10px;
    padding: 10px;
}

#main_miembros .container-fluid .row div {
    margin: 10px;
    align-items: center;
    border: 1px solid hsl(0, 0%, 100%); 
    text-align: center;
}

#main_miembros .container-fluid .row div p,  #main_miembros .container-fluid .row div h2{
    margin-top: 15px;
}

/* proyecto y principios de diseño*/
#main_proyecto{
    align-items: center;
    border: 1px solid hsl(0, 0%, 100%); 
    text-align: center;
}

/* CONTACTO */

#main_contacto > div {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 100%); 
}


#form_opinion > form {
    width: 500px    
}

#form_opinion > form > input, #form_opinion > form > textarea, #form_opinion > form > button,  #form_opinion > form > select {
    margin: 12px;
    padding: 8px;
    width: 500px;
    font-size: 14px;
}

#form_opinion > form > label {
    margin: 12px;
    padding: 8px;
    width: 500px;
    color: white;
    font-size: 18px;
}